---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
const allPosts = await getCollection("posts");
const tags = Array.from(
  new Set(allPosts.flatMap((post) => post.data.tags))
);

const pageTitle = "Tag index";
---

<Layout title={pageTitle}>
  <div class="tags">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>
</Layout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
</style>
