---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import "../styles/global.scss";
const allPosts = await getCollection('posts');
const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <main class="blog">
    <h1>Blog page</h1>
    <p>This is where I will post about my journey learning Astro.</p>

    <ul>
      {
        allPosts.map((post) => (
          <div>
            <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
          </div>
        ))
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  .blog {
    main {
      margin: auto;
      padding: 1.5rem;
      max-width: 60ch;
    }
  }
</style>
