---
import "../styles/global.scss";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Blog";
const blogs = [
	{ title: "Post 1", slug: "/posts/post-1" },
	{ title: "Post 2", slug: "/posts/post-2" },
];
---

<Layout title={pageTitle}>
	<main class="blog">
		<h1>Blog page</h1>
		<p>This is where I will post about my journey learning Astro.</p>

		<ul>
			{blogs.map((blog) => <li class="blog__title">
				<a href={blog.slug}>{blog.title}</a>
			</li>)}
		</ul>
	</main>
</Layout>

<style lang="scss">
	.blog {
		main {
			margin: auto;
			padding: 1.5rem;
			max-width: 60ch;
		}
	}
</style>
